{% extends 'fifo_lifo_templates/base.html' %}
{% block title %}
donation
{% endblock %}
{% block body %}
<div class="card" style="width: 30rem;">
    <div class="card-header">
        <h5>Укажите название вещей для пожертвования</h5>
    </div>
    <div class="card-body">
        <form action="{% url 'donation_item' %}" method="POST">
            <div class="d-grid gap-3">
                {% csrf_token %}
                 <div>
                    <label> Вещь {{forloop.counter}}</label>
                    {{formset.0.stock}}
                </div>
                {% for form in formset %}
                <div>
                    <label> Вещь {{forloop.counter}}</label>
                    {{form.name_item}}
                </div>
                {% endfor %}
                <input type="hidden" name="amount_items" value="{{amount_items}}">
                <br>
                <button class="btn btn-primary" {% if disabled_button %} disabled {% endif %} type='submit'>
                    Пожертвовать
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
