{% extends 'fifo_lifo_templates/base.html' %}
{% block title %}
home_page
{% endblock %}
{% block body_s %}
{% endblock %}
{% block body %}

<form action="{% url 'search_for_item' %}" method="GET">
    <div class="d-grid mb-5">
        <button type="submit" class="btn btn-outline-primary" style=" --bs-btn-font-size: 1.25rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height=24 fill="currentColor" class="bi bi-search"
                 viewBox="0 0 19 19">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
            Искать вещь
        </button>
    </div>
</form>
<div class="card" style="width: 30rem;">
    <div class="card-header">
        <h5>Регистрация прошения</h5>
    </div>
    <div class="card-body">
        <form action="{% url 'help_request' %}" method="POST">
            <div class="d-grid gap-2">
                {% csrf_token %}
                <label for="id_amount_item_help">Сколько вещей вам необходимо?</label>
                <input type="number" name="amount_items" class="form-control" id="id_amount_item_help">
                <br>
                <button class="btn btn-primary" type='submit'>Попросить</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<div class="card" style="width: 30rem;">
    <div class="card-header">
        <h5>Регистрация пожертвования</h5>
    </div>
    <div class="card-body">
        <form action="{% url 'donation' %}" method="POST">
            <div class="d-grid gap-2">
                {% csrf_token %}
                <label for="id_amount_item_donation">Сколько вещей желаете пожертвовать?</label>
                <input type="number" name="amount_items" class="form-control" id="id_amount_item_donation">
                <br>
                <button class="btn btn-primary" type='submit'>Пожертвовать</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

