{% extends 'fifo_lifo_templates/base.html' %}
{% block title %}
home_page
{% endblock %}
{% block body %}
<form action="{% url 'help_request' %}" method="POST">
    {% csrf_token %}
    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <h5>Регистрация прошения</h5>
        </div>
        <div class="card-body">
            <div class="d-grid gap-2">
                <label for="id_amount_item_help">Сколько вещей вам необходимо?</label>
                <input type="number" name="amount_items" class="form-control" id="id_amount_item_help">
                <br>
                <button class="btn btn-primary" type='submit'>Попросить</button>
            </div>
        </div>
    </div>
</form>
<br>
<form action="{% url 'donation' %}" method="POST">
    {% csrf_token %}
    <div class="card" style="width: 30rem;">
        <div class="card-header">
            <h5>Регистрация пожертвования</h5>
        </div>
        <div class="card-body">
            <div class="d-grid gap-2">
                <label for="id_amount_item_donation">Сколько вещей желаете пожертвовать?</label>
                <input type="number" name="amount_items" class="form-control" id="id_amount_item_donation">
                <br>
                <button class="btn btn-primary" type='submit'>Пожертвовать</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
